{% extends "base.html" %}

{% block title %}
	Desarrollo Web | w3bex
{% endblock %}

{% block main %}

	<header>
		<div class="container">
			<img src="{{ STATIC_URL }}img/w3bex-logo.png" alt="w3bex" id='top-logo'>
			<nav>
				{% block menu %}
					<ul>
						<a href='#'><li>Blog</li></a>
						<a href='#'><li>Servicios</li></a>
						<a href='#'><li>Portfolio</li></a>
						<a href='#'><li>Acerca</li></a>
					</ul>
				{% endblock %}
			</nav>
		</div>
	</header>

	<div class='subheader'>
		<!-- Solo de adorno, probablemente, contenga publicidad depspues -->
	</div>

	{% block body %}
		<div class="body container">

		</div>
	{% endblock %}

	<footer>
		
	</footer>

{% endblock %}