{% extends "post.html" %}
{% load blog_extras %}

{% block title %}
	Blog de Diseño y Desarrollo Web
{% endblock %}

{% block main-section %}
	<section class='posts'>
		{% for post in posts %}
			<article class='post'>
				<h1><a href='/blog/{{ post.slug }}'>{{ post.title }}</a></h1>
				<p class='author-time'>
					Publicado por <a href="#">{{ post.author.username }}</a>
					el {{ post.pretty_date }}
				</p>

				{% if post.cover %}
					<img class='post-cover' src='{{ post.cover.image.url }}'>
				{% endif %}
				
				{% autoescape off %}
				{{ post.lead|markdown_img:post.image_set.iterator }}
				{% endautoescape %}

				<a href='/blog/{{ post.slug }}' class='seguir-leyendo'>Seguir leyendo</a>
			</article>
		{% endfor %}
	</section>
{% endblock %}

